{% extends "base.html" %} {%block start%}
<div class="containter mt-5">
  <form
    class="col-9 mx-auto card p-3 shadow-lg"
    method="post"
    enctype="multipart/form-data"
    style='min-width: 350px; max-width: 600px;'
  >
    <!-- (method="post") is for returing data to the backend, (enctype="multipart/form-data") is required for files-->
    {% if messages %}
    
    <div class="alert alert-primary" role="alert">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
      </ul>
    </div>
      {% endif %}
    {% csrf_token %}
    <!-- csrf_token is required for data submition -->
    <div class="mb-3">
      <h2>Login</h2>
      <label for="exampleInputEmail1" class="form-label"
        >Username or Email</label
      >
      <input
        type="text"
        name="username"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
      <div id="emailHelp" class="form-text">
        We'll never share your email with anyone else.
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" id="exampleInputPassword1" />
    </div>
    <div class="mb-3 form-check">
      <p>Don't have a Account? <a href="/register/">Register</a></p>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
  {% endblock %}
</div>
