{% extends "base.html" %} {%block start%} {% load image_filters %}

<div class="mx-auto col-6 mt-5 mb-5">
  <form class="d-flex" role="search">
    <input
      name="search"
      class="form-control me-2 navtext"
      type="text"
      placeholder="Search Recipes"
      aria-label="Search"
    />
    <button type="submit" class="btn btn-success navtext">Search</button>
  </form>
</div>

<div class="container mt-3 card shadow-lg " style="width: 97%">
  <div class="d-flex justify-content-between">
      <h2 class="mb-3 mt-3 mx-3">Recipes</h2>
      <a
        href="/add_recipe/"
        class="btn btn-success mb-3 mt-3 mx-3 navtext"
        >Add Recipe</a>
  </div>
  <table class="table table-responsive">
    <thead>
      <tr>
        <th class="text-center fss" style="width: 17%">Recipe Name</th>
        <th class="text-center fss" style="width: 30%">Recipe Description</th>
        <th class="text-center fss" style="width: 20%">Image</th>
        <th class="text-center fss" style="width: 10%">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for r in recipes%}
      <tr>
        <td class="text-break text-center"
        style="height: 5rem; vertical-align: middle">
          <div class="cell-content fs" style="height: 5rem overflow: auto;">
            {{r.recipe_name}}
          </div>
        </td>
        <td
          class="text-break text-center"
          style="height: 5rem; vertical-align: middle"
        >
          <div class="cell-content fs" style="height: 5rem overflow: auto;">
            {{r.recipe_description}}
          </div>
        </td>
        <td >
          {% if r.image_data %}
          <img
            src="data:image/jpeg;base64,{{ r.image_data|base64_encode }}"
            class="fixed-size-image fs mt-1 text-break text-center"
            alt="No Image Uploaded"
          />
          {% else %}
          <p class="fs" style="height: 5rem; vertical-align: middle">
            No Image uUploaded
          </p>
          {% endif %}
        </td>
        <td class="text-center align-middle" style="vertical-align: middle">
          <div class="c" role="group">
              <a
              href="/update_recipe/{{r.id}}"
              class="btn btn-success navtext"
              >Update</a
              >
              <a
                href="/delete_recipe/{{r.id}}"
                class="btn btn-danger mt-1 navtext"
                >Delete</a
              >
          </div>
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
<div class="margin-left">
  <ul class="pagination pagination-lg justify-content-center">
      {% if recipes.has_previous %}
      <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ recipes.previous_page_number }}">previous</a></li>
      {% endif %}

      {% comment %} <span class="current">
          Page {{ recipes.number }} of {{ recipes.paginator.num_pages }}.
      </span> {% endcomment %}

      {% if recipes.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ recipes.next_page_number }}">next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ recipes.paginator.num_pages }}">last &raquo;</a></li>
      {% endif %}
    </ul>
</div>
</div>
{% endblock %}
