{% extends "base.html" %} {%block start%}
<div class="containter mt-5">
  <form class="col-6 mx-auto card p-3 shadow-lg" method="post">
    <!-- (method="post") is for returing data to the backend-->
    {% csrf_token %}
    {% if messages %}
    
    <div class="alert alert-primary" role="alert">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
      </ul>
    </div>
      {% endif %}
    <!-- csrf_token is required for data submition -->
    <div class="mb-3">
      <h2>Register</h2>
      <label for="Firstname" class="form-label">First Name</label>
      <input
        type="text"
        name="first_name"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
      <label for="lastname" class="form-label">Last Name</label>
      <input
        type="text"
        name="last_name"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
      <label for="exampleInputEmail1" class="form-label">Username</label>
      <input
        type="text"
        name="username"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
      <div id="emailHelp" class="form-text">
        We'll never share your email with anyone else.
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        name="password"
        class="form-control"
        id="exampleInputPassword1"
      />
    </div>
    <div class="mb-3 form-check">
      <p>Alreay have a Account? <a href="/login/">Login</a></p>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
  {% endblock %}
</div>
